@use 'src/styles' as styles;

$primary-color: #185ee0;
$secondary-color: #e6eef9;

$height: 2rem;
$width: 5rem;

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: styles.$bg-color;

    --mdc-theme-primary: currentColor;
}

.formatting {
    --mdc-icon-button-size: 32px;
    --mdc-icon-size: 20px;

    .tooltip {
        display: inline;
        position: relative;

        &:hover {
            color: #c00;
            text-decoration: none;

            &:after {
                $font-size: 0.8em;

                background: rgba(0, 0, 0, 0.8);
                border-radius: 0.5em;
                color: $secondary-color;
                //left: -1em;
                right: 0;
                content: attr(title);
                display: block;
                top: #{$font-size + 1em};
                font-size: $font-size;
                padding: 0.3em 0.6em;
                position: absolute;
                z-index: 98;
                width: max-content;
            }

            &:before {
                border: solid;
                border-color: #111 transparent;
                border-width: 0 0.4em 0.4em;
                top: 1.1em;
                content: '';
                display: block;
                left: 0.1rem;
                position: absolute;
                z-index: 99;
            }
        }
    }
}
