@use 'src/styles' as styles;

#guh-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.editor-wrapper {
    display: flex;
    flex-direction: column;
    background-color: styles.$bg-color;

    .cm-editor {
        background-color: styles.$editor-bg-color;
        resize: vertical;
        overflow: hidden;
    }
    #cm-container {
        background-color: styles.$bg-color-darker;
        padding: 0.3rem;
    }
}
